* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: 'Lato', 'Lucida Grande', 'Lucida Sans Unicode', Tahoma, Sans-Serif;
    display: flex;
    flex-direction: row;
}

#navbar {
    
    position: fixed;
    display: flex;
    flex-direction: column;
}

#navbar ul {
    list-style: none;
    margin: 20px 15px;
    padding: 10px 15px;
}

#main-doc {
    margin: 10px 35px 0 25%;
    line-height: 2;
}