* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: 'Lato', 'Lucida Grande', 'Lucida Sans Unicode', Tahoma, Sans-Serif;
    display: flex;
    flex-direction: row;
    font-size: 10px;
}

#navbar {
    font-size: 1rem;
    position: fixed;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 290px;
    background-color: white;
}

#navbar ul {
    list-style: none;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

#navbar ul li {
    border-bottom: grey solid 1px;
    padding: 20px 0 20px 10px;
}

#navbar ul li a.nav-link{
    font-size: 1rem;
    text-decoration: inherit;
    color: #4d4e53;;
}

#navbar ul li a.nav-link:hover{
    font-size: 1.2rem;
    text-decoration: inherit;
    color: #4d4e53;;
}

header {
    font-size: 1.4rem;
}

#main-doc {
    margin: 10px 35px 0 25%;
    line-height: 2;
}